---
Checks: "-*,
        cppcoreguidelines-non-private-member-variables-in-classes,
        cppcoreguidelines-avoid-goto,
        cppcoreguidelines-pro-type-const-cast,
        misc-non-private-member-variables-in-classes,
        modernize-use-nullptr,
        readability-else-after-return,
        readability-static-accessed-through-instance,
        readability-avoid-const-params-in-decls,
        readability-braces-around-statements,
        readability-container-size-empty,
        readability-redundant-control-flow,
        readability-simplify-boolean-expr,
        readability-implicit-bool-conversion,
"
WarningsAsErrors: '*'
HeaderFilterRegex: '\.h'
FormatStyle: none